@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
}

/* Optional: Ensure headings use the heavier weights you imported */
h1, h2, h3 {
  font-weight: 700;
}

@theme {
  --color-primary: #0E82FD;
  --color-secondary: #06AED4;
  --color-drkblue: #012047;
  --color-txtone: #012047;
}

/* If you want to hide the real mouse cursor globally */
html, body {
  cursor: none;
}

/* Ensure buttons and links also don't show the default pointer */
a, button {
  cursor: none
}